In [567]:
USE [master]
GO

CREATE DATABASE [PraceDyplomowe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PraceDyplomowe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PraceDyplomowe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PraceDyplomowe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PraceDyplomowe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

In [568]:
USE [PraceDyplomowe]
GO

In [569]:
ALTER DATABASE [PraceDyplomowe] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PraceDyplomowe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [PraceDyplomowe] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET ARITHABORT OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [PraceDyplomowe] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [PraceDyplomowe] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET  DISABLE_BROKER 
GO
ALTER DATABASE [PraceDyplomowe] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [PraceDyplomowe] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [PraceDyplomowe] SET  MULTI_USER 
GO
ALTER DATABASE [PraceDyplomowe] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [PraceDyplomowe] SET DB_CHAINING OFF 
GO
ALTER DATABASE [PraceDyplomowe] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [PraceDyplomowe] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [PraceDyplomowe] SET DELAYED_DURABILITY = DISABLED 
GO
EXEC sys.sp_db_vardecimal_storage_format N'PraceDyplomowe', N'ON'
GO
ALTER DATABASE [PraceDyplomowe] SET QUERY_STORE = OFF
GO

In [570]:
USE [PraceDyplomowe]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studia](
	[ID_Studia] [int] IDENTITY(1,1) NOT NULL,
    [Kierunek] [varchar](100) NOT NULL,
	[Wydzial] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Studia] PRIMARY KEY CLUSTERED 
(
	[ID_Studia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID_Student] [bigint] NOT NULL,
	[ID_Studia] [int] NOT NULL,
    [Email] [varchar](50) NULL,
    [Telefon] [int] NULL,
	[Imie] [varchar](100) NOT NULL,
	[Nazwisko] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtapStudiow](
	[ID_Etap] [int] IDENTITY(1,1) NOT NULL,
	[EtapStudiow] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EtapStudiow] PRIMARY KEY CLUSTERED 
(
	[ID_Etap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracownikNaukowy](
	[ID_PracownikNaukowy] [int] NOT NULL,
	[StopienNaukowy] [varchar](50) NULL,
	[Imie] [varchar](100) NOT NULL,
	[Nazwisko] [varchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_Pracownik] PRIMARY KEY CLUSTERED 
(
	[ID_PracownikNaukowy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] 
GO




SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracaDyplomowa](
	[ID_Praca] [int] NOT NULL,
	[ID_EtapStudiow] [int] NOT NULL,
	[ID_Opiekun] [int] NULL,
    [Tytul] [varchar](100) NOT NULL,
    [Temat] [varchar](100) NOT NULL,
	[DataZlozenia] [datetime] NULL,
 CONSTRAINT [PK_PracaDyplomowa] PRIMARY KEY CLUSTERED 
(
	[ID_Praca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO




SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obrona](
	[ID_Obrona] [int] NOT NULL,
    [ID_Praca] [int] NOT NULL,
    [ID_Przewodniczacy] [int] NOT NULL,
	[ID_Autor] [bigint] NOT NULL,
    [Data] [datetime] NULL,
	[OcenaKoncowa] [smallint] NULL,
	[Lokalizacja] [varchar](100) NULL,
 CONSTRAINT [PK_Obrona] PRIMARY KEY CLUSTERED 
(
	[ID_Obrona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recenzja](
	[ID_Recenzja] [int] NOT NULL,
	[ID_Praca] [int] NOT NULL,
	[ID_Oceniajacy] [int] NOT NULL,
	[Ocena] [smallint] NULL,
	[Komentarz] [varchar](max) NULL,
    [DataWystawienia] [date] NULL,
 CONSTRAINT [PK_Recenzja] PRIMARY KEY CLUSTERED 
(
	[ID_Recenzja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlowaKluczowe](
	[ID_SlowoKluczowe] [int] IDENTITY(1,1) NOT NULL,
	[SlowoKluczowe] [varchar](50) NOT NULL,
	[ID_Praca] [int] NOT NULL,
 CONSTRAINT [PK_SlowaKluczowe] PRIMARY KEY CLUSTERED 
(
	[ID_SlowoKluczowe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CzyJestPromotorem] (@idpracownik int)
RETURNS VARCHAR(3) AS
BEGIN
	DECLARE @output VARCHAR(3)
		
		IF EXISTS (SELECT PracaDyplomowa.ID_Opiekun FROM PracaDyplomowa WHERE PracaDyplomowa.ID_Opiekun = @idpracownik)
			SET @output = 'Tak'
		ELSE
			SET @output = 'Nie'

	RETURN @output
END
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IleSudentow] (@idpracadyplomowa int)
RETURNS VARCHAR(3) AS
BEGIN
	DECLARE @output VARCHAR(3)
	DECLARE @liczbastudentow int

		SELECT @liczbastudentow = COUNT(ID_Autor)
		FROM Obrona
		WHERE ID_Praca = @idpracadyplomowa

		IF @liczbastudentow <=3
			SET @output = @liczbastudentow
		ELSE
			SET @output = 'MAX'

	RETURN @output
END
GO

In [571]:
USE [PraceDyplomowe]
GO
ALTER TABLE [dbo].[Obrona]  WITH CHECK ADD  CONSTRAINT [FK_Obrona_PracaDyplomowa] FOREIGN KEY([ID_Praca])
REFERENCES [dbo].[PracaDyplomowa] ([ID_Praca])
GO
ALTER TABLE [dbo].[Obrona] CHECK CONSTRAINT [FK_Obrona_PracaDyplomowa]
GO
ALTER TABLE [dbo].[Obrona]  WITH CHECK ADD  CONSTRAINT [FK_Obrona_Pracownik] FOREIGN KEY([ID_Przewodniczacy])
REFERENCES [dbo].[PracownikNaukowy] ([ID_PracownikNaukowy])
GO
ALTER TABLE [dbo].[Obrona] CHECK CONSTRAINT [FK_Obrona_Pracownik]
GO
ALTER TABLE [dbo].[Obrona]  WITH CHECK ADD  CONSTRAINT [FK_Obrona_Student] FOREIGN KEY([ID_Autor])
REFERENCES [dbo].[Student] ([ID_Student])
GO
ALTER TABLE [dbo].[Obrona] CHECK CONSTRAINT [FK_Obrona_Student]
GO
ALTER TABLE [dbo].[PracaDyplomowa]  WITH CHECK ADD  CONSTRAINT [FK_PracaDyplomowa_Pracownik] FOREIGN KEY([ID_Opiekun])
REFERENCES [dbo].[PracownikNaukowy] ([ID_PracownikNaukowy])
GO
ALTER TABLE [dbo].[PracaDyplomowa] CHECK CONSTRAINT [FK_PracaDyplomowa_Pracownik]
GO
ALTER TABLE [dbo].[PracaDyplomowa]  WITH CHECK ADD  CONSTRAINT [FK_PracaDyplomowa_EtapStudiow] FOREIGN KEY([ID_EtapStudiow])
REFERENCES [dbo].[EtapStudiow] ([ID_Etap])
GO
ALTER TABLE [dbo].[PracaDyplomowa] CHECK CONSTRAINT [FK_PracaDyplomowa_EtapStudiow]
GO
ALTER TABLE [dbo].[Recenzja]  WITH CHECK ADD  CONSTRAINT [FK_Recenzja_PracaDyplomowa] FOREIGN KEY([ID_Praca])
REFERENCES [dbo].[PracaDyplomowa] ([ID_Praca])
GO
ALTER TABLE [dbo].[Recenzja] CHECK CONSTRAINT [FK_Recenzja_PracaDyplomowa]
GO
ALTER TABLE [dbo].[Recenzja]  WITH CHECK ADD  CONSTRAINT [FK_Recenzja_Pracownik] FOREIGN KEY([ID_Oceniajacy])
REFERENCES [dbo].[PracownikNaukowy] ([ID_PracownikNaukowy])
GO
ALTER TABLE [dbo].[Recenzja] CHECK CONSTRAINT [FK_Recenzja_Pracownik]
GO
ALTER TABLE [dbo].[SlowaKluczowe]  WITH CHECK ADD  CONSTRAINT [FK_SlowaKluczowe_PracaDyplomowa] FOREIGN KEY([ID_Praca])
REFERENCES [dbo].[PracaDyplomowa] ([ID_Praca])
GO
ALTER TABLE [dbo].[SlowaKluczowe] CHECK CONSTRAINT [FK_SlowaKluczowe_PracaDyplomowa]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Studia] FOREIGN KEY([ID_Studia])
REFERENCES [dbo].[Studia] ([ID_Studia])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Studia]
GO
USE [master]
GO
ALTER DATABASE [PraceDyplomowe] SET  READ_WRITE 
GO

In [572]:
USE [PraceDyplomowe]
GO
-- Testowe dane
INSERT INTO Studia(Kierunek, Wydzial)
VALUES
    ('Informatyka Stosowana', 'Elektryczny'),
    ('Elektronika i Telekomunikacja', 'Informatyki Elektroniki i Telekomunikacji')


INSERT INTO Student(ID_Student, ID_Studia, Email, Telefon, Imie, Nazwisko)
VALUES
    (1, 1, 'pierwszy@student@email.com', '123456789', 'Bartosz', 'Stafiej'),
    (2, 2, 'drugi@student@email.com', '987654321', 'Jan', 'Kowalski')


INSERT INTO EtapStudiow(EtapStudiow)
VALUES
    ('inzynierskie'),
    ('magisterskie'),
    ('doktoranckie')


INSERT INTO PracownikNaukowy(ID_PracownikNaukowy, StopienNaukowy, Imie, Nazwisko, Email)
VALUES
    (1, 'magister', 'Urszula', 'Nowak', 'urszula.nowak@edu.pl'),
    (2, 'doktor', 'Jaroslaw', 'Ktos', 'jaroslaw.ktos@edu.pl')


INSERT INTO PracaDyplomowa(ID_Praca, ID_EtapStudiow, ID_Opiekun, Tytul, Temat, DataZlozenia)
VALUES
    (2, 3, 2, 'tytul2', 'temat2', '2021-02-24'),
    (1, 1, 1, 'tytul1', 'temat1', '2019-04-02')


INSERT INTO Obrona(ID_Obrona, ID_Praca, ID_Przewodniczacy, ID_Autor, Data, OcenaKoncowa, Lokalizacja)
VALUES
    (1, 1, 1, 1, '2021-02-02', 5, 'Krakow'),
    (2, 2, 2, 2, '2019-04-04', 4, 'Warszawa')


INSERT INTO Recenzja(ID_Recenzja, ID_Praca, ID_Oceniajacy, Ocena, Komentarz, DataWystawienia)
VALUES
    (1, 1, 1, 5, 'Fajna', '2021-03-01'),
    (2, 2, 2, 4, 'Srednia', '2019-04-12')

INSERT INTO SlowaKluczowe(SlowoKluczowe, ID_Praca)
VALUES
    ('1', 1),
    ('2', 2)

In [573]:
-- Uzyskanie informacji (imię, nazwisko, nr indeksu) na temat wszystkich studentów uporządkowanych w kolejności alfabetycznej nazwiska
SELECT Student.Imie, student.Nazwisko, Student.ID_Student
FROM Student
ORDER BY Nazwisko

-- Informacje na temat wszystkich pracowników (tytuł, imi ę, nazwisko, email) uporządkowane w kolejności alfabetycznej nazwiska
SELECT StopienNaukowy, Imie, Nazwisko, Email
FROM PracownikNaukowy
ORDER BY Nazwisko

-- Uzyskanie informacji o wszystkich pracach uporządkowanych według oceny końcowej i daty obrony
 SELECT DISTINCT
	   PracaDyplomowa.ID_Praca,
	   PracaDyplomowa.DataZlozenia,   
	   PracaDyplomowa.Temat,
       PracaDyplomowa.Tytul,
	   Recenzja.Ocena,
	   Recenzja.DataWystawienia,
	   Recenzja.Komentarz,
	   Obrona.OcenaKoncowa,
	   Obrona.Data

FROM PracaDyplomowa
LEFT JOIN Obrona ON PracaDyplomowa.ID_Praca=Obrona.ID_Praca
LEFT JOIN Recenzja ON PracaDyplomowa.ID_Praca=Recenzja.ID_Praca
ORDER BY Obrona.OcenaKoncowa, Obrona.Data

-- Uzyskanie informacji o wszystkich pracach prowadzonych na danym, podanym z nazwy, rodzaju studiów
 SELECT
		PracaDyplomowa.ID_Praca,
		PracaDyplomowa.DataZlozenia,   
		PracaDyplomowa.Temat,
        PracaDyplomowa.Tytul,
		EtapStudiow.EtapStudiow
FROM PracaDyplomowa
LEFT JOIN EtapStudiow ON PracaDyplomowa.ID_EtapStudiow=EtapStudiow.ID_Etap
WHERE EtapStudiow.EtapStudiow='inzynierskie'

-- Uzyskanie listy wszystkich prac z informacją o jej autorach
SELECT 
       PracaDyplomowa.ID_Praca,  
	   PracaDyplomowa.Temat,
       PracaDyplomowa.Tytul,
	   Obrona.ID_Autor,
	   Student.Imie,
	   Student.Nazwisko,
	   Student.Telefon,
	   Student.Email
FROM PracaDyplomowa
LEFT JOIN Obrona ON PracaDyplomowa.ID_Praca=Obrona.ID_Praca
JOIN Student ON Obrona.ID_Autor=Student.ID_Student

-- Wyszukiwanie prac związanych z daną tematyką (słowa kluczowe)
SELECT 
    PracaDyplomowa.ID_Praca,
    PracaDyplomowa.Temat,
    PracaDyplomowa.Tytul
FROM PracaDyplomowa
LEFT JOIN SlowaKluczowe ON PracaDyplomowa.ID_Praca = SlowaKluczowe.ID_Praca
WHERE SlowaKluczowe.SlowoKluczowe = '1'

-- Odnalezienie prac prowadzonych przez określonego promotora
SELECT
    PracaDyplomowa.ID_Praca,  
    PracaDyplomowa.Temat,
    PracaDyplomowa.Tytul
FROM PracaDyplomowa
WHERE PracaDyplomowa.ID_Opiekun = 2

-- lub inaczej przy podaniu imienia i nazwiska

SELECT
    PracaDyplomowa.ID_Praca,  
    PracaDyplomowa.Temat,
    PracaDyplomowa.Tytul,
    PracownikNaukowy.Imie,
    PracownikNaukowy.Nazwisko
FROM PracaDyplomowa
LEFT JOIN PracownikNaukowy ON PracaDyplomowa.ID_Opiekun = PracownikNaukowy.ID_PracownikNaukowy
WHERE PracownikNaukowy.Imie = 'Urszula'
AND PracownikNaukowy.Nazwisko = 'Nowak'

-- Wyświetlenie informacji o pracy danego studenta, podany index studenta oraz etap studiow
SELECT 
    Student.ID_Student,
    EtapStudiow.EtapStudiow,
    PracaDyplomowa.ID_Praca,  
    PracaDyplomowa.Temat,
    PracaDyplomowa.Tytul
FROM Student
LEFT JOIN Obrona ON Student.ID_Student = Obrona.ID_Autor
LEFT JOIN PracaDyplomowa ON OBRONA.ID_Praca = PracaDyplomowa.ID_Praca
LEFT JOIN EtapStudiow ON Student.ID_Student = EtapStudiow.ID_Etap
WHERE EtapStudiow.EtapStudiow='inzynierskie'
AND Student.ID_Student = 1

Imie,Nazwisko,ID_Student
Jan,Kowalski,2
Bartosz,Stafiej,1

StopienNaukowy,Imie,Nazwisko,Email
doktor,Jaroslaw,Ktos,jaroslaw.ktos@edu.pl
magister,Urszula,Nowak,urszula.nowak@edu.pl

ID_Praca,DataZlozenia,Temat,Tytul,Ocena,DataWystawienia,Komentarz,OcenaKoncowa,Data
2,2021-02-24 00:00:00.000,temat2,tytul2,4,2019-04-12,Srednia,4,2019-04-04 00:00:00.000
1,2019-04-02 00:00:00.000,temat1,tytul1,5,2021-03-01,Fajna,5,2021-02-02 00:00:00.000

ID_Praca,DataZlozenia,Temat,Tytul,EtapStudiow
1,2019-04-02 00:00:00.000,temat1,tytul1,inzynierskie

ID_Praca,Temat,Tytul,ID_Autor,Imie,Nazwisko,Telefon,Email
1,temat1,tytul1,1,Bartosz,Stafiej,123456789,pierwszy@student@email.com
2,temat2,tytul2,2,Jan,Kowalski,987654321,drugi@student@email.com

ID_Praca,Temat,Tytul
1,temat1,tytul1

ID_Praca,Temat,Tytul
2,temat2,tytul2

ID_Praca,Temat,Tytul,Imie,Nazwisko
1,temat1,tytul1,Urszula,Nowak

ID_Student,EtapStudiow,ID_Praca,Temat,Tytul
1,inzynierskie,1,temat1,tytul1